html,body{
  padding: auto;
  margin: auto;
  text-align: center;
  height: 100%;
}

body{
  background-color:aliceblue;
  background-image: url('IMAGES/output-onlinegiftools2.gif');
  background-size: 20%;
}

#Wrapper{
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header"
  ". password ."
  ". box ."
  "footer footer footer";
}

#EpicBox{
  grid-area: box;

  border-top: 2px;
  border-bottom: 2px;
  border-style:solid;
  border-color: aliceblue;
  border-radius: 1em 1em 1em 1em;
  margin-left: auto;
  margin-right: auto;
}

label{
  padding-top: 1em;
}

#GeneratePassword{
  color: black;
  height: 50px;
  font-size: large;
  align-self: flex-start;
}

#Password{
  grid-area: password;
  align-self: center;
  font-size: 50px;
  height: 5rem;
}

#Output{
  position: relative;
}

/*MAKES BUTTONS NEON*/
button{
  text-decoration: none;
  cursor: pointer;
  color: black;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0%
  100% / 0.5), 0 0 0.45em currentColor;
  
  box-shadow: 
  inset 0 0 0.5em 0 aliceblue,
  0 0 0.5em 0.2em aliceblue;
  font-size: large;
  position: relative;
}

button::before{
  content: '';
  position: absolute;
  background: greenyellow;
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;

  
  transform: perspective(1em) rotateX(10deg)  scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.2;
}

button:hover{
  background: white;
  color: black;
  text-shadow: none;
}
/*END OF BUTTON STYLE*/

form{
  height: 100%;
  display: grid;
}

header{
  grid-area: header;
  border-color: black;
  border-style: groove;
  border-width: 5px;
  border-top: 0px;
  border-bottom: 0px;

  align-self: flex-start;
}

h1{
  padding-top: 2rem;
  font-size: 40px;
  
}

h1,form,text,p{
  color: aliceblue;
}


footer{
  grid-area: footer;
  border-color: black;
  border-style: groove;
  border-width: 5px;
  border-top: 0px;
  border-bottom: 0px;

 align-self: flex-end;
 margin-left: auto;
 margin-right: auto;
}
