html,body{
  padding: auto;
  margin: auto;
  text-align: center;
  height: 100%;
}

body{
  background-color:aliceblue;
  background-image: url('/IMAGES/output-onlinegiftools2.gif');
  background-size: 20%;
}

#Wrapper{
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header"
  "box password password"
  "footer footer footer";
}

#EpicBox{
  grid-area: box;
  border-color: palevioletred;
  border-style: solid;
  border-width: 5px;

  margin-left: auto;
  margin-right: auto;
}

#GeneratePassword{
  background-color: green;
  height: 50px;
  font-size: large;
  align-self: flex-start;
}

#Password{
  grid-area: password;
  align-self: center;
  font-size: 50px;
}

button{
  background-color: green;
  height: 50px;
  font-size: large;
}

form{
  height: 100%;
  display: grid;
}

header{
  grid-area: header;
  border-color: black;
  border-style: groove;
  border-width: 5px;
  border-top: 0px;
  border-bottom: 0px;

  align-self: flex-start;
}

h1{
  padding-top: 2rem;
  font-size: 40px;
  
}

h1,form,text,p{
  color: aliceblue;
}


footer{
  grid-area: footer;
  border-color: black;
  border-style: groove;
  border-width: 5px;
  border-top: 0px;
  border-bottom: 0px;

 align-self: flex-end;
 margin-left: auto;
 margin-right: auto;
}
